[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-health-check = "*"
"psycopg2-binary" = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.7"
