[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-health-check = "*"
"psycopg2-binary" = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
"pep8" = "*"
bandit = "*"
"flake8-bugbear" = "*"

[requires]
python_version = "3.7"
